extends bootstrap

block header
  ul.nav.navbar-nav.navbar-right
    li
      a(href="/stats?address=" + address)
        i.fa.fa-arrow-left.fa-lg
        | &nbsp; Back to Stats

block content
  .container-fluid
    .container
      if (error && error.length > 0)
        .alert.alert-danger.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          i.fa.fa-frown-o.fa-lg &nbsp;
          strong= error
      if (success && success.length > 0)
        .alert.alert-success.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          i.fa.fa-smile-o.fa-lg &nbsp;
          strong= success
      h1 Notification Config
      br
      .container
        form(role="config", name="config", action="/notifications/config/" + notification.getHashId(), method="post")
          ul.nav.nav-tabs
            li.active
              a(href="#general", data-toggle="tab") General
            li
              a(href="#hashrate", data-toggle="tab") Hashrate
            li
              a(href="#payments", data-toggle="tab") Payment
            button.btn.btn-success(type="submit", value="Save", style="margin-left: 10px;") Save Settings
              
          .tab-content
            #general.tab-pane.active
              .container
                br
                table.table
                  tr
                    th Bitcoin Address
                  tr
                    td= notification.address
                  tr
                    th Email Address
                  tr
                    td= notification.email
                a.btn.btn-danger(href="/notifications/remove/" + notification.getHashId(), style="margin-left: 10px;") Stop All Notifications
     
            #hashrate.tab-pane
              .container
                br
                .form
                  .form-group
                    label(for="hashrateEnabled") Hashrate Notifications
                    p.container
                      input#hashrateEnabled.form-control(type="checkbox", name="hashrateEnabled", checked= notification.hashrateEnabled)
                  #hashrateSettings(style="display: none;")
                    .form-group
                      label(for="averageDays") Days for Average
                      p.container The number of days to use to find your average hash rate to compare against.
                      p.container
                        input#averageDays(type="text",name="averageDays",value=notification.averageDays,data-slider-min="1",data-slider-max="7",data-slider-step="1",data-slider-value=notification.averageDays,data-slider-orientation="horizontal",data-slider-selection="after",data-slider-tooltip="hide")
                        span(style="margin-left: 20px")
                          span#averageDaysValue= notification.averageDays
                          | &nbsp;day(s)
                    .form-group
                      label(for="averageMinutes") Minutes Before Notification
                      p.container The number of minutes that your hash rate must be below your calculated average before a notification is sent.
                      p.container
                        input#averageMinutes(type="text",name="averageMinutes",value=notification.averageMinutes,data-slider-min="15",data-slider-max="60",data-slider-step="1",data-slider-value=notification.averageMinutes,data-slider-orientation="horizontal",data-slider-selection="after",data-slider-tooltip="hide")
                        span(style="margin-left: 20px")
                          span#hashrateMinutesValue= notification.averageMinutes
                          | &nbsp;minutes
                    .form-group
                      label(for="percentThreshold") Percent Threshold
                      p.container Send a notification when your hash rate drops below a percentage of your calculated average.
                      p.container
                        input#percentThreshold(type="text",name="percentThreshold",value=notification.percentThreshold,data-slider-min="0",data-slider-max="100",data-slider-step="1",data-slider-value=notification.percentThreshold,data-slider-orientation="horizontal",data-slider-selection="after",data-slider-tooltip="hide")
                        span(style="margin-left: 20px")
                          span#percentThresholdValue= notification.percentThreshold
                          | %

            #payments.tab-pane
              .container
                br
                .form
                  .form-group
                    label(for="paymentEnabled") Payment Notifications
                    p.container
                      input#paymentEnabled.form-control(type="checkbox", name="paymentEnabled" checked= notification.paymentEnabled)
      
block scripts
  script(src='/javascripts/notificationConfig.js')