div#hashRate.section
	table
		tr
			th.sectionHeader Current Hash Rate
			th.sectionHeader Historical Hash Rate
				
		tr
			td#currentHashRate
				div#hashRateMeter
			
			td#historicalHashRate
				div#hashRateTimeScale.timeScale
					+timeScale("hashRate")
				div#hashRateGraphContainer
					div#hashRateGraph
					div#hashRateHistoryLoading.loading(style="display: none;")
				div#hashRateStats
					span#minimumHashRate
						span.key Minimum:
						span#minimumHashRateValue 0.0 kH/s
					span#averageHashRate
						span.key Average:
						span#averageHashRateValue 0.0 kH/s
					span#maximumHashRate
						span.key Maximum:
						span#maximumHashRateValue 0.0 kH/s

div#balances.section
	table
		tr
			th.sectionHeader Current Balances
			th.sectionHeader Historical Balances
						
		tr
			td#currentBalances
				table
					tr
						th Sent:
						td#sentBalance ฿ 0.00000000
					tr
						th Confirmed:
						td#confirmedBalance ฿ 0.00000000
					tr
						th Unconverted:
						td#unconvertedBalance ฿ 0.00000000
					tr
						th Total Unsent:
						td#totalUnsent ฿ 0.00000000
						
			td#historicalBalances
				div#balancesTimeScale.timeScale
					+timeScale("balances")
				div#balancesGraphContainer
					div#balancesGraph
					div#balancesHistoryLoading.loading(style="display: none;")

mixin timeScale(name)
	div(id="resolution_#{name}") resolution by
		input(type="radio" id="1min_res_#{name}" name="resolution_#{name}" value="1min")
		label(for="1min_res_#{name}") 1 min
		input(type="radio" id="5min_res_#{name}" name="resolution_#{name}" value="5min")
		label(for="5min_res_#{name}") 5 min
		input(type="radio" id="1hr_res_#{name}" name="resolution_#{name}" value="1hr")
		label(for="1hr_res_#{name}") 1 hr
		input(type="radio" id="1day_res_#{name}" name="resolution_#{name}" value="1day")
		label(for="1day_res_#{name}") 1 day
	div(id="range_#{name}") range
		input.smallRange(type="radio" id="1hr_range_#{name}" name="range_#{name}" value="1hr")
		label.smallRange(for="1hr_range_#{name}") 1 hr
		input.smallRange(type="radio" id="6hr_range_#{name}" name="range_#{name}" value="6hr")
		label.smallRange(for="6hr_range_#{name}") 6 hr
		input.smallRange(type="radio" id="12hr_range_#{name}" name="range_#{name}" value="12hr")
		label.smallRange(for="12hr_range_#{name}") 12 hr
		input.smallRange(type="radio" id="24hr_range_#{name}" name="range_#{name}" value="24hr")
		label.smallRange(for="24hr_range_#{name}") 24 hr
		input.largeRange(type="radio" id="1day_range_#{name}" name="range_#{name}" value="1day")
		label.largeRange(for="1day_range_#{name}") 1 day
		input.largeRange(type="radio" id="1wk_range_#{name}" name="range_#{name}" value="1wk")
		label.largeRange(for="1wk_range_#{name}") 1 wk
		input.largeRange(type="radio" id="2wk_range_#{name}" name="range_#{name}" value="2wk")
		label.largeRange(for="2wk_range_#{name}") 2 wk
		input.largeRange(type="radio" id="1mo_range_#{name}" name="range_#{name}" value="1mo")
		label.largeRange(for="1mo_range_#{name}") 1 mo