extends bootstrap

mixin visibility(name, options)
  .btn-group(id="visibility_#{name}", data-toggle="buttons")
    button.btn.btn-default.btn-xs.header(disabled="disabled") show
    each option in options
      label.btn.btn-primary.btn-xs(id="visibility_#{name}_#{option}", value="#{option}")
        input.btn.btn-primary.btn-xs(type="checkbox", value="#{option}")
        | #{option}

mixin timeScale(name)
  .btn-group(id="resolution_#{name}")
    button.btn.btn-default.btn-xs.header(disabled="disabled") resolution by
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_1min", value="1min") 1 min
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_5min", value="5min") 5 min
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_1hr", value="1hr") 1 hr
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_1day", value="1day") 1 day
  .btn-group(id="range_#{name}")
    button.btn.btn-default.btn-xs.header(disabled="disabled") range
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_1hr", value="1hr") 1 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_6hr", value="6hr") 6 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_12hr", value="12hr") 12 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_24hr", value="24hr") 24 hr
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_1day", value="1day") 1 day
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_1wk", value="1wk") 1 wk
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_2wk", value="2wk") 2 wk
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_1mo", value="1mo") 1 mo
      
block header
  form.navbar-form.navbar-left.hidden-xs.hidden-sm(role="address", name="stats", action="/stats", method="get")
      .form-group
        input.form-control(type="text", placeholder="Bitcoin Address", size="42", name="address", id="btcAddress")
      button.btn.btn-success(type="submit")
        i.fa.fa-refresh.fa-lg
  .nav.navbar-nav.navbar-right
      ul.nav.navbar-nav
        li
          a(href="#") Last Updated:&nbsp;
            label#updated Never

block content
  .container-fluid
    .row
      .col-lg-2.col-md-4.text-center.nowrap
        h3 Current Hashrate
        h1.well
          span#hashrate 0.00
          span &nbsp;
          abbr.small(title="kilohashes per second") kH/s
        br
        table.table.table-striped.table-hover.pull-right
          tr.text-muted
            th Minimum:
            td.nowrap#minimumHR 0 kH/s
          tr.text-muted
            th Average:
            td.nowrap#averageHR 0 kH/s
          tr.text-muted
            th Maximum:
            td.nowrap#maximumHR 0 kH/s
      .col-lg-10.col-md-8.text-center.fixed-fluid
        h3 Historical Hashrate
        .timeScale.text-right
          +timeScale("hashrate")
        #historalHashrate.graph
    .row
      .col-lg-2.col-md-4.text-center.nowrap
        h3 Current Balance
        table.table.table-hover
          tr.info
            th Confirmed:
            td.nowrap
              i.fa.fa-btc &nbsp;
              span#confirmed 0.00000000
          tr.warning
            th Unconverted:
            td.nowrap
              i.fa.fa-btc &nbsp;
              span#unconverted 0.00000000
          tr
            th Unsent:
            td.nowrap
              i.fa.fa-btc &nbsp;
              span#unsent 0.00000000
          tr
            th
            td
          tr.success
            th Sent:
            td.nowrap
              i.fa.fa-btc &nbsp;
              span#sent 0.00000000
      .col-lg-10.col-md-8.text-center.fixed-fluid
        h3 Historical Balance
        .pull-left.hidden-xs.hidden-s
          +visibility("balances", ['confirmed', 'unconverted', 'sent'])
        .timeScale.pull-right.text-right
          +timeScale("balances")
        #historicalBalances.graph
      
block scripts
  script(src='/javascripts/wafflestats.js')