extends bootstrap

mixin visibility(name, options)
  .btn-group(id="visibility_#{name}", data-toggle="buttons")
    button.btn.btn-default.btn-xs.header(disabled="disabled") show
    each option in options
      label.btn.btn-primary.btn-xs(id="visibility_#{name}_#{option}", value="#{option}")
        input.btn.btn-primary.btn-xs(type="checkbox", value="#{option}")
        | #{option}

mixin timeScale(name)
  .btn-group(id="resolution_#{name}")
    button.btn.btn-default.btn-xs.header(disabled="disabled") resolution by
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_5min", value="5min") 5 min
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_30min", value="30min") 30 min
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_1hr", value="1hr") 1 hr
    button.btn.btn-primary.btn-xs(id="resolution_#{name}_1day", value="1day") 1 day
  .btn-group(id="range_#{name}")
    button.btn.btn-default.btn-xs.header(disabled="disabled") range
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_1hr", value="1hr") 1 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_6hr", value="6hr") 6 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_12hr", value="12hr") 12 hr
    button.btn.btn-primary.btn-xs.smallRange(id="range_#{name}_24hr", value="24hr") 24 hr
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_1day", value="1day") 1 day
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_3day", value="3day") 3 day
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_1wk", value="1wk") 1 wk
    button.btn.btn-primary.btn-xs.largeRange(style="display:none;" id="range_#{name}_2wk", value="2wk") 2 wk
      
block header
  .nav.navbag-nav.navbar-left
    ul.nav.navbar-nav
      li.active
        a.summaryTab(href="#summary", data-toggle="tab")
          i.fa.fa-info.fa-lg &nbsp;
          | Summary
      li
        a.detailsTab(href="#details", data-toggle="tab")
          i.fa.fa-bars.fa-lg &nbsp;
          | Details
      li
        a.chartsTab(href="#charts", data-toggle="tab")
          i.fa.fa-bar-chart-o.fa-lg &nbsp;
          | Charts
      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          | Color Mode&nbsp;
          i.caret
        ul.dropdown-menu
          li
            a.theme-link(href="#", data-theme="daytime") Daytime
          li
            a.theme-link(href="#", data-theme="nighttime") Nighttime
  .nav.navbar-nav.navbar-right
      ul.nav.navbar-nav
        li
          a#notifications(href="/notifications/")
            i.fa.fa-envelope.fa-lg &nbsp;
            | Get Notifications
        li
          a(href="#")
            label Last Updated:&nbsp;
            span#updated Never

block content
  .container-fluid
    .alert.alert-warning.alert-dismissable
      button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
      i.fa.fa-heart.fa-lg &nbsp;
      strong Love WAFFLEStats? Please, show it by donating bitcoins! Donate to: 1Pr87ypYdG8eMTNUXR4rT1q2P1VJ7yu1b5
  
  .goddamn.container-fluid
    .goddamn.tab-content
      #summary.tab-pane.active.fade.in
        include summary
        
      #details.tab-pane.fade
        strong DETAILS HERE
        
      #charts.tab-pane.fade
        include charts
        
block scripts
  script(src='/javascripts/wafflestats.js')