div
  include header
  h4 Hash Rate Warning
  
p WAFFLES hates to be the bearer of bad news, but your hash rate doesn't look so great right now.
p
  table
    tr
      th(style="text-align: left;") Current Hash Rate:
      td= currentHashrate
    tr
      th(style="text-align: left;")
        span= shortAverageMinutes
        span &nbsp; Minute Average:
      td= shortAverageHashrate
    tr
      th(style="text-align: left;")
        span= longAverageHours
        span &nbsp; Hour Average:
      td= longAverageHashrate
p Since you asked WAFFLES to tell you when your hash rate dropped below&nbsp;
  span= descString
  |, we just thought you'd like to know.

include footer